/* universal styling start */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Manrope";
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  background-color: #000000;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  background: transparent;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1740px;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #b4bcd0;
}
h2 {
  font-size: 75px;
  line-height: 112px;
  font-weight: 800;
  color: #ffffff;
  max-width: 811px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: -webkit-linear-gradient(top, #dddddd, #dddddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
  color: #ffffff;
  background: -webkit-linear-gradient(top, #dddddd, #dddddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* universal styling end */

/* header start */

header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

header ul li a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Inter 28pt";
  color: rgb(129, 133, 159);
}

header ul li .active {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Manrope";
  font-weight: 700;
}

header ul {
  display: flex;
  max-width: 166px;
  width: 100%;
  justify-content: space-between;
  padding: 13px 20px;
  border: 1px solid #ffffff1a;
  background-color: #212121cc;
  border-radius: 100px;
}

/* header end */

/* hero start */

.hero {
  padding: 105px 0px 0px;
}

.hero h1 {
  color: #ffffff;
  font-size: 75px;
  line-height: 112.5px;
  font-weight: 700;
  margin: 0 auto 10px auto;
  max-width: 916px;
  width: 100%;
  text-align: center;
}

.hero p {
  color: #606060;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 auto 40px auto;
  max-width: 360px;
  text-align: center;
  width: 100%;
}

.hero .hero-paragraph {
  margin: 0 auto 113px auto;
  max-width: 780px;
  width: 100%;
  text-align: center;
}
.hero .labs h2.txt-2 {
  transform: translateX(-160px);
}
.hero .labs h2.txt-1 {
  transform: translateX(160px);
}
.hero .labs h2 {
  font-size: 249px;
  line-height: 255px;
  font-weight: 800;
  color: #ffffff;

  /* transform: translateY(-500px); */
}

.hero .labs {
  display: flex;
}

.hero .labs .center-image {
  max-width: 713px;
  margin-right: -394px;
  margin-left: -145px;
  line-height: 0;
  position: relative;
  bottom: -12px;
}

.hero .labs .center-image .main-mob-img {
  max-width: 713px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero .hero-gradiant-box {
  width: 100vw;
  /* height: 100%; */
  min-height: 414px;
  background-image: url(../images/H2_1H2.webp),
    linear-gradient(90deg, #5fc9fa, #fa8b9f);
  position: absolute;
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 110% 110%, auto;
  border-radius: 75px;
  overflow: hidden;
  margin-top: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform: scale(1.5, 1);
}

.hero .labs .center-image .mob-img-1 {
  max-width: 225px;
  width: 100%;
  position: absolute;
  left: 53px;
  top: 4px;
  z-index: 0;
}

.hero .labs .center-image .mob-img-1 img {
  border-radius: 20px;
}

.hero .labs .hero-text-holder-2 {
  padding-left: 165px;
  z-index: -1;
}
.hero .labs .hero-text-holder-1 {
  padding-right: 96px;
}

.hero .labs .center-image .mob-img-1 {
  max-width: 262px;
  width: 100%;
  position: absolute;
  left: 58px;
  top: -9px;
  z-index: 0;
  /* transform: translateX(600%); */
  /* opacity: 0; */
  overflow: hidden;
  border-radius: 25px;
}

.hero .labs .center-image .mob-img-1 .img-1-ani {
  transform: translateX(600%);
}
.hero .labs .center-image .mob-img-2 {
  max-width: 262px;
  width: 100%;
  position: absolute;
  left: 57px;
  top: 4px;
  z-index: 0;
  border-radius: 25px;
}

.hero .labs .center-image .mob-img-3 .img-3-ani {
  transform: translateY(0);
}
.hero .labs .center-image .mob-img-3 {
  overflow: hidden;
  max-width: 263px;
  width: 100%;
  position: absolute;
  left: 61px;
  top: 9px;
  z-index: 0;
  overflow: hidden;
  /* transform: translateY(-481px); */
  /* opacity: 0; */
  border-radius: 25px;
}

.hero .labs .center-image img {
  min-height: 490px;
  border-radius: 30px;
}

.text {
  background: linear-gradient(to right, #f3b1a5 35%, #c6caf6 72%, #dad9e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .labs .text {
  background: linear-gradient(
    to right,
    #eec5bd,
    #ff8200 0%,
    #f3b1a5 1%,
    #c6caf6 69%,
    #dad9e9
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .hero end */

/* .experience start */

.experience {
  padding: 90px 0;
  position: relative;
  z-index: 999;
  background-color: #000;
}

.experience .hero-heading {
  transform: translateY(-318px) scale(0.6);
  opacity: 0;
  z-index: -1;
}

.experience .exp-heading h2 {
  font-size: 249px;
  line-height: 255px;
  font-weight: 800;
  color: #ffffff;
}

.experience .exp-heading {
  display: flex;
  max-width: 1454px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.experience h3 {
  font-size: 75px;
  line-height: 112.5px;
  font-weight: 800;
  color: #ffffff;
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 910px;
  width: 100%;
}

.experience a {
  font-size: 25px;
  line-height: 31px;
  font-weight: 600;
  color: #ffffff;
  padding: 16px 28px 16px 28px;
  border-radius: 50px;
  background-color: #ff8200;
  margin: 0 auto 70px auto;
  display: flex;
  max-width: 313px;
}

.experience .exp-boxes .box {
  max-width: 795px;
  width: 100%;
  border-radius: 25px;
  background-color: #30363d;
}
.experience .exp-boxes .box .top-img {
  line-height: 0;
}

.experience .exp-boxes .box .top-img img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.experience .exp-boxes .box .inner-text {
  padding: 80px 24px 40px;
}

.experience .exp-boxes .box .inner-text h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: italic;
  color: #ffffffc7;
  margin-bottom: 12px;
}

.experience .exp-boxes .box .inner-text p {
  max-width: 503px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
  font-style: italic;
}

.experience .exp-boxes .box .top-img {
  position: relative;
}

.experience .exp-boxes .box .top-img::before {
  background: linear-gradient(
    180deg,
    rgba(48, 54, 61, 0) 38%,
    rgba(48, 54, 61, 1) 98%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
}

.experience .exp-boxes .box-2 .top-img::before {
  width: 0;
}

.experience .exp-boxes .box-4 .top-img::before {
  width: 0;
}

.experience .exp-boxes .box-2 {
  max-width: 464px;
}

.experience .exp-boxes {
  display: flex;
  flex-wrap: wrap;
  max-width: 1294px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
}

.experience .exp-boxes .mob-box .top-img {
  padding: 10px 40px 0 30px;
}

.experience .exp-boxes .box-4 {
  display: flex;
  flex-direction: column-reverse;
}

.experience .exp-boxes .box-4 .top-img img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.experience .exp-boxes .box-4 .top-img {
  border-radius: 25px;
}

.experience .exp-boxes .card {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 1s;
}
.experience .exp-boxes .card img,
.experience .exp-boxes .card .title {
  transform: translateZ(30px); /* makes elements pop out */
  transition: transform 1s ease;
}

/* .experience end */

/* integration start */

.integration {
  background-color: #161b22;
  padding-top: 475px;
}

.integration p {
  max-width: 455px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.integration .inner-text {
  margin-bottom: 118px;
}

.integration .content .int-img {
  display: flex;
  justify-content: center;
  gap: 5px;
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.integration .content .int-img img {
  max-width: 550px;
}

.integration .content .inte-mob-img {
  position: relative;
  z-index: 2;
}

.integration .content .inte-mob-img {
  max-width: 429px;
  margin: -412px auto;
  transform: translateY(102px);
  z-index: 0;
}

.integration .content .inte-mob-img .tracking-img {
  position: absolute;
  left: 23px;
  top: 18px;
  max-width: 384px;
  border-radius: 25px;
  z-index: -1;
}

.integration .content .inte-mob-img .tracking-img img {
  border-radius: 25px;
}

.integration .track-matrics p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #b4bcd0;
  text-align: center;
  max-width: 510px;
}

.integration .track-matrics {
  position: relative;
  z-index: 2;
  max-width: 1525px;
  margin: 0 auto;
  padding: 105px 0;
  background-color: #161b22;
  border-top: 1px solid #363636;
}

/* .integration end */

.features {
  padding: 100px 0;
  background-color: #000000;
  position: relative;
  z-index: 9;
}

.features .container {
  display: flex;
  max-width: 1314px;
}

.features .left-column {
  max-width: 633px;
  width: 100%;
  padding-top: 118px;
}

.features .left-column h2 {
  text-align: left;
}

.features .left-column .left-paragraph {
  margin-bottom: 37px;
}

.features .right-column .top-text span {
  font-size: 75px;
  line-height: 112px;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    128deg,
    #eec5bd,
    #f3b1a5 26%,
    #c6caf6 74%,
    #dad9e9
  );
  -webkit-background-clip: text;
}

.features .right-column .top-text h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
  color: #ffffff;
  background: -webkit-linear-gradient(top, #dddddd, #dddddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.features .right-column .top-text {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.features .right-column {
  padding-top: 634px;
  max-width: 619px;
  width: 100%;
}

/* .features end */

.coming-soon {
  padding-top: 477px;
}

.coming-soon p {
  max-width: 470px;
  width: 100%;
  text-align: center;
  margin: 0 auto 30px auto;
}

.coming-soon .links {
  max-width: 514px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.coming-soon .links img {
  max-width: 242px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.coming-soon .links img:hover {
  scale: 1.1;
}

.coming-soon .bottom-img {
  max-width: 400px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon .bottom-img .center-img {
  position: absolute;
  left: 66px;
  top: 11px;
  max-width: 230px;
  width: 100%;
  border-radius: 30px;
}

.coming-soon .bottom-img .center-img img {
  border-radius: 30px;
}

.left-column {
  flex: 1;
  position: sticky;
  top: 100px; /* adjust for spacing from top */
  height: fit-content;
}

/* Right column scrolls */
.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Box styling */
.box {
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  transform: translateY(40px);
}

/* Animation on scroll */
.box.visible {
  opacity: 1;
  transform: translateY(0);
}

.top-text span {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.coming-soon .dark-mode {
  z-index: 1;
  background-color: #000;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.coming-soon .light-mode {
  z-index: 1;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 127vh;
  display: flex;
  position: absolute;
  bottom: 0;
  inset: auto 0% 0%;
  overflow: hidden;
}

.coming-soon .mode-changing {
  position: relative;
}

.coming-soon .light-mode .bottom-img .center-img {
  left: 66px;
  top: 12px;
  max-width: 230px;
}

/* .coming-soon end */

/* sign-up start */

.sign-up {
  background-color: #ffffff;
  padding: 415px 0 80px;
}

.sign-up h2 {
  color: #000000;
  background: -webkit-linear-gradient(top, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-up p {
  color: #000000;
  max-width: 466px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.sign-up .signup-text {
  margin-bottom: 80px;
}

.sign-up .top-boxes .box {
  max-width: 308px;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  background-color: #f5f5f8;
  overflow: hidden;
}

.sign-up .top-boxes .box h3 {
  background: -webkit-linear-gradient(top, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-up .top-boxes .box .inner-text {
  padding: 64px 24px 48px;
}

.sign-up .top-boxes .box .top-img img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.sign-up .top-boxes {
  max-width: 1294px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sign-up .top-boxes .center-box {
  max-width: 617px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sign-up .center-box .box {
  max-width: 617px;
  width: 100%;
  padding: 52px 25px 25px;
}

.sign-up .center-box .box p {
  max-width: 259px;
  font-style: italic;
  font-size: 20px;
  line-height: 32px;
}

.sign-up .top-boxes .box p {
  font-style: italic;
}

.sign-up .center-box .logo-box {
  background-image: url(../images/logo-box-bg-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 66px 0;
}

.sign-up .center-box .logo-box .signup-logo {
  max-width: 155px;
  width: 100%;
  background-color: #ffffff;
  padding: 33px 0;
  margin: 0 auto;
  border-radius: 41px;
}

.sign-up .signup-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  perspective: 1000px; /* enable 3D */
  transform-style: preserve-3d; /* keep children in 3D */
  will-change: transform;
}

.sign-up .signup-logo img {
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  pointer-events: none;
}

.sign-up .top-boxes .box .sign-img {
  position: absolute;
  left: 37px;
  top: 11px;
  max-width: 235px;
  z-index: -1;
}

.sign-up .top-boxes .box .bottom-img {
  position: relative;
  padding: 0 23px;
  line-height: 0;
  z-index: 0;
  top: 120px;
  margin-top: -120px;
}

.sign-up .top-boxes .box .sign-img img {
  border-radius: 30px;
}

.sign-up .bottom-boxes .box {
  max-width: 411px;
}

.sign-up .bottom-boxes .box p {
  max-width: 325px;
}

.sign-up .bottom-boxes {
  justify-content: inherit;
  gap: 30px;
}

/* .sign-up end */

/* footer start */

footer {
  padding: 28px 0 40px;
  background-color: #ffffff;
}

footer .container {
  max-width: 1294px;
  display: flex;
  justify-content: space-between;
}

footer .logo {
  max-width: 100px;
  width: 100%;
  align-self: center;
}

footer ul li a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 5px;
}

footer .footer-menu p {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

footer .footer-menu p a {
  color: #000000;
}

footer .footer-menu {
  text-align: center;
}

footer .footer-menu ul {
  margin-bottom: 25px;
}

/* footer end */
